import("ROI")
importFrom("methods", "getPackageName", "getFunction")
importFrom("stats", "setNames", "terms", "aggregate")
importFrom("utils", "tail")
importFrom("slam", "simple_triplet_matrix", "is.simple_triplet_matrix")

## S3method("ROI_plugin_solution_dual", "lpsolve_solution")
