import("ROI")
import("optimx")
importFrom("stats", "terms")
importFrom("stats", "na.exclude")
importFrom("methods", "as")
importFrom("methods", "getPackageName")
importFrom("methods", "getFunction")
importFrom("utils", "capture.output")
