export("V_bound")
S3method("as.list", "V_bound")
export("bounds")
S3method("bounds", "OP")
export("bounds<-")
S3method("bounds<-", "OP")
export("constraints")
S3method("constraints", "OP")
export("constraints<-")
S3method("constraints<-", "OP")
import("slam")
export("L_constraint")
export("as.L_constraint")
S3method("as.L_constraint", "L_constraint")
S3method("as.L_constraint", "numeric")
S3method("as.L_constraint", "list")
export("is.L_constraint")
S3method("rbind", "L_constraint")
S3method("c", "L_constraint")
S3method("length", "L_constraint")
S3method("as.L_term", "numeric")
S3method("as.L_term", "matrix")
S3method("as.L_term", "simple_triplet_matrix")
export("Q_constraint")
export("as.Q_constraint")
export("is.Q_constraint")
S3method("as.Q_term", "list")
S3method("as.Q_term", "numeric")
S3method("as.Q_term", "matrix")
S3method("as.Q_term", "simple_triplet_matrix")
S3method("as.rhs", "numeric")
export("as.constraint")
S3method("as.constraint", "NULL")
S3method("as.constraint", "L_constraint")
S3method("as.constraint", "Q_constraint")
S3method("as.constraint", "F_constraint")
S3method("print", "constraint")
export("objective")
S3method("objective", "default")
export("as.objective")
S3method("as.objective", "default")
S3method("as.objective", "objective")
S3method("length", "objective")
S3method("terms", "function")
S3method("terms", "L_objective")
S3method("terms", "Q_objective")
export("L_objective")
S3method("as.function", "L_objective")
export("as.L_objective")
S3method("as.L_objective", "L_objective")
S3method("as.L_objective", "NULL")
S3method("as.L_objective", "numeric")
S3method("as.L_objective", "Q_objective")
S3method("as.L_objective", "function")
export("Q_objective")
S3method("as.function", "Q_objective")
export("as.Q_objective")
S3method("as.Q_objective", "function")
S3method("as.Q_objective", "matrix")
S3method("as.Q_objective", "numeric")
S3method("as.Q_objective", "Q_objective")
S3method("as.Q_objective", "simple_triplet_matrix")
export("OP")
S3method("print", "OP")
export("as.OP")
S3method("as.OP", "OP")
S3method("as.OP", "numeric")
export("ROI_solve")
export("ROI_available_solvers")
export("ROI_installed_solvers")
export("ROI_registered_solvers")
S3method("print", "OP_solution")
export("types")
S3method("types", "OP")
S3method("as.no_V_bounds_OP", "no_V_bounds")
S3method("as.no_V_bounds_OP", "OP")
import("registry")
