
import("ROI")
import("osqp")
importFrom("slam", "simple_triplet_matrix")
importFrom("slam", "simple_triplet_zero_matrix")
importFrom("stats", "terms", "aggregate", "setNames")
importFrom("methods", "getPackageName")
importFrom("methods", "getFunction")
importFrom("Matrix", "sparseMatrix")
