import("ROI")
import("DEoptim")
import("DEoptimR")
importFrom("stats", "terms", "setNames", "na.exclude", "runif")
importFrom("methods", "as")
importFrom("methods", "getPackageName")
importFrom("methods", "getFunction")
importFrom("utils", "capture.output")
