import("ROI")
import("DEoptim")
import("DEoptimR")
importFrom("stats", "terms")
importFrom("stats", "setNames")
importFrom("stats", "na.exclude")
importFrom("methods", "as")
importFrom("methods", "getPackageName")
importFrom("methods", "getFunction")
importFrom("utils", "capture.output")
