import("ROI")
import("cccp")
importFrom("slam", "is.simple_triplet_matrix", "simple_triplet_matrix")
importFrom("methods", "getFunction")
importFrom("stats", "terms")
importFrom("numDeriv", "grad")
importFrom("numDeriv", "hessian")
