import("ROI")
import("ECOSolveR")
importFrom("slam", "simple_triplet_matrix")
importFrom("slam", "simple_triplet_zero_matrix")
importFrom("stats", "terms")
importFrom("methods", "getPackageName")
importFrom("methods", "getFunction")
importFrom("Matrix", "sparseMatrix")
S3method(".ROI_plugin_solution_dual", "scs_solution")