import("ROI")
import("scs")
importFrom("methods", "getPackageName")
importFrom("methods", "getFunction")
importFrom("stats", "setNames", "terms")
importFrom("Matrix", "sparseMatrix")
importFrom("slam", "simple_triplet_matrix")
S3method(".ROI_plugin_solution_dual", "scs_solution")
S3method(".ROI_plugin_solution_psd", "scs_solution")
