import("ROI")
import("scs")
importFrom("methods", "getPackageName")
importFrom("methods", "getFunction")
importFrom("stats", "setNames", "terms")
importFrom("Matrix", "sparseMatrix")
importFrom("slam", "simple_triplet_matrix")
